* {
    box-sizing: border-box;

  }

:root {
    --primary-color: #322C59;
    --fonts-color: rgba(205, 151, 236, 0.753);
}
  

body {
    background-color: var(--primary-color);
    padding: 5px;
    /* width: 100%; */
    height: auto;
    font-family: "Arial", Helvetica, sans-serif;
    padding: 10px;
}

/* Header */

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-icon{
  /* justify-content: ; */
  display: flex;
  flex-grow: 2;
  margin-left: 5%;
}

.header-icon a img{
  width:12em;
}

.header-page {
  /* border: 2px solid black; */
  flex-grow: 3;
}

.header-page ul {
  display: flex;
  justify-content: flex-start;
  padding-inline-start: 0;
}

.header-page li {
  list-style: none;
  padding-left:5%;
}

.header-page a{
  color: var(--fonts-color);
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
}


.header-page a span {
  color: rgba(255, 255, 255, 0.795);
}

#active_a {
  color:rgb(211, 207, 207);
}

.header-page a:hover{
  transition: 0.7s;
  color: rgb(97, 38, 173);
}

.auth{
  display: flex;
  /* border: 2px solid rgb(0, 0, 0); */
  flex-grow: 1.3;
  align-items: center;
  justify-content: space-evenly;
}

.auth button {
  align-items: center;
  width: 7em;
  height: 50px;
  border-radius:13px;
  font-size: 18px;
  font-weight: bolder;
  border:none;
}

.auth  #signup {
  color: rgba(41, 92, 231, 0.87);
  background-color: transparent;
  border: 1px solid black;
}

.auth #signup:hover {
  background-color:#3c18bee0;
  transition: 0.7s;
  color: white;
}

.auth  #login {
  color: white;
  background-color: rgba(62, 50, 238, 0.856);
}

.auth #login:hover {
  background-color:#4aace4e0;
  transition: 0.7s;
  color: rgb(14, 13, 13);
}


 /* Content box  */
 
 .content_box{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
 }

 .content_box_size {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 }
 .content_box-1 {
  margin-top: 3vh;
  /* border:1px solid black; */
  height:auto;
  flex-grow: 1.2;
  font-weight: bold;
 }

 .content_box-2 {
  margin-top: 3vh;
  /* border:1px solid black; */
  height:auto;
  flex-grow: 2.1;
 }

 .content_title h1 {
  color: rgb(255 255 255);
  font-weight: bold;
 }


 .content_add p {
  color: white;
  
 }

 .content_add span {
  color: var(--fonts-color);
 }

 .content_filter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: var(--fonts-color);
 }

 .content_filter .cf-2{
  display:flex;
  gap: 0px 15px;
 }
 
 /* active box design*/
 .active-box {
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  height: auto;
  margin-top:20px;
  align-items: center;
 }

 .box_design{
  background-color: rgb(66,58,111);
  height:auto;
  width:75%;
  border-radius: 20px;
  padding: 10px 0;
  color: var(--fonts-color);
 }

 .box-content {
  display: flex;
  flex-direction: row;
  align-items: center;
 }

 .bc-1 {
  display: flex;
  flex-direction: row;
  flex-grow: 5;

 }
 .bc1-s {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: center;
  margin-left: 5%;
}

.bc1-s p {
  margin-left: 10%;
}

.bc1-s .box-image-design {
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: blueviolet;
}
 
.bc-2 {
  display: flex;
  gap: 0px 10px;
  flex-direction: row;
  align-items: flex-end;
  /* place-self: flex-end; */
  flex-grow: 1;
}

/* Coin battle design */

.content_coin_sub {
  display: flex;
  flex-direction: row;
  color: var(--fonts-color);
  font-weight: bold;
}

.content_box-2 .active-box{
  align-items: flex-start;
}
.content_box-2 .box_design{
  background-color: rgb(66,58,111);
  height:auto;
  width:90%;
  border-radius: 20px;
  color: var(--fonts-color);
  padding: 0;
 }

 .coin-box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--fonts-color);
  font-weight: bold;
  margin: 2px 0;
 }

 .coin-box-info-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
 }
 .coin-box-info-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
 }

 .coin-box-info-1 span {
   color: white;
   font-size: 30px;
 }

 .coin-box-info-2 span {
  color: white;
  font-size: 30px;
}

.coin-box-2 {
  margin-top: 5px;
  display: flex;
  width:90%;
  font-weight: bold;
}

.coin-box-1-1 {
  width:90%;
  display:flex;
  flex-grow: 1;
  align-items: flex-start;
}

.coin-box-1-2 {
  width:90%;
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: flex-end;
}

.coin-box-2-content-1 {
  display: flex;
  flex-direction: column;
  margin-top: 7%;
  margin-left: 5%;
  gap: 10px 0;
  padding-bottom: 5px;
  height: 200px;
}

progress#file {
  margin-top: 10%;
  width: 94%;
}

.coin-box-bar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
}

#num_big{
  color: white;
   font-size: 30px;
}

.wrap-circles {
  display: flex;
  min-height: 70vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  background: #0c033a;
}

.circle {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #FFCDB2;
  overflow: hidden;
  margin-left: 25px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}
.circle.per-75 {
  background-image: conic-gradient(#272246 75%, #473b91 0);
}

.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: #120d2b;
  border-radius: 50%;
  font-size: 1.25em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}

/* Coin simple filter section */

.coin-switch-tag {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 100%;
}
.Simple_filter {
  display: flex;
 
}

.Simple_filter ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: var(--fonts-color);
  padding-left: 0;
  font-weight: bold;
}

.Simple_filter ul li{
   padding-left: 20px;
   padding-bottom: 11px;
}
.Simple_filter li#active{
  border-bottom: 2px solid rgb(108, 75, 190);
  width: 100%;
  padding-left: 0px;
  color: #6b5bd8;
}

.simple_f1_box-1 {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 99%
}
.s_f1_box{
  background-color: rgb(66,58,111);
  height:auto;
  width:70%;
  border-radius: 20px;
  color: var(--fonts-color);
  padding: 0;
  margin-top: 10px;
  margin-bottom: 15px;
  
}
.simple_f_box_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 0px;
  font-weight: bold;
}
.f1_box_1 {
  margin-left: 4%;
}
.f1_box_2 {
  margin-right: 4%;
}
.simple_filter_btn {
  margin: auto auto;
 
}
.simple_filter_btn button{
  background-color: blueviolet;
  padding: 15px;
  border: 1px solid rgb(80, 22, 134);
  border-radius: 10px;
  font-weight: bold;
  width: 100px;
}

.filter-submit{
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.filter-submit button{
  background-color: blueviolet;
  padding: 15px;
  border: 1px solid rgb(80, 22, 134);
  border-radius: 10px;
  font-weight: bold;
  width: 15%;
  color: bisque;
  margin-right: 2%;
}

/*Balance Box*/
.Balance_div1{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: baseline;
}

.Balance_div1 button{
  background-color: blueviolet;
  border: 1px solid rgb(80, 22, 134);
  border-radius: 10px;
  font-weight: bold;
  width: 25%;
  height: 50px;
  color: bisque;
}

.balance_quick{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  color: var(--fonts-color);
  align-items: baseline;
}

#balance_plus{
  border: 1px solid black;
  padding: 10px 13px;
  border-radius: 5px;
}

.balance_quick span{
  margin-right: 10px;
}